<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6BWBvzCabYB5olghxjUrSMQRsTeG3hxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>41063052575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bb4it.Shine</string>
	<key>PROJECT_ID</key>
	<string>shine-laundries</string>
	<key>STORAGE_BUCKET</key>
	<string>shine-laundries.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41063052575:ios:a3e1dc1067efbe487eec2a</string>
</dict>
</plist>